doctype html
html
	head
		meta(charset="UTF-8")
		title This Is PugJs Page
		include pug/styles
	body
		// Start header
		.header This Header
			.container
				.row
					.col-md-4 This is div
					.col-md-4 This is div
					.col-md-4 This is div
		// /end header
		.footer
			.copyright Made With Love By Mahmoud Hammad
		script(src="http://localhost:35729/livereload.js")