include pug/head
	body
		include pug/navbar
		content.wrapper(style="background-color: #ddd")
			#properties
				.cover
					.overlay
						.list
							ul.list-unstyled
								li
									i(class="fa fa-building")
									span|Apartment
								li
									i(class="fa fa-building")
									span|Commercial
								li.active
									i(class="fa fa-building")
									span|House
								li
									i(class="fa fa-building")
									span|Land
						.filters
							ul.list-unstyled
								li
									i(class="fa fa-dot-circle-o")
									span|Apartment
									span.chevrone
								li
									i(class="fa fa-map")
									span|Apartment
									span.chevrone
								li
									i(class="fa fa-bath")
									span|Apartment
									span.chevrone
								li
									i(class="fa fa-bed")
									span|Apartment
									span.chevrone
								li.search
									span|Search
								li
									i(class="fa fa-dot-circle-o")
									span|Apartment
									span.chevrone
								li
									i(class="fa fa-dot-circle-o")
									span|Apartment
									span.chevrone
								li
									i(class="fa fa-dot-circle-o")
									span|Apartment
									span.chevrone
								li
									i(class="fa fa-dot-circle-o")
									span|Apartment
									span.chevrone
								li
									i(class="fa fa-dot-circle-o")
									span|Apartment
									span.chevrone
								li.search-input
									input(type="text" placeholder="Enter an address, town, street, zip or property ID")
								li.range-filters
									.price
										span|Price (RQ): 
										.multi-range-container
											.multi-range
												input#lower.range(type='range' min='0' max='10' value='0' step='0.1')
												span#range-color.range-color
												input#upper.range(type='range' min='0' max='10' value='10' step='0.1')
									.area
										span|Area (2m):
										.multi-range-container
											.multi-range
												input#lower.range(type='range' min='0' max='10' value='0' step='0.1')
												span#range-color.range-color
												input#upper.range(type='range' min='0' max='10' value='10' step='0.1')
						.cover-footer
							.breadcrumbs
								ul.list-unstyled
									li|Home
									li|Page Name
							.back
								span.btn-back|Back
				section.feature-list
					h3.section-title
						i(class="fa fa-building")
						|Find Properties In Al Rayan
					.features
						.options
							.filters
								ul.list-unstyled
									- var filter_list = ['All','For Sale','For Rent','Commercial','Lands']
									each item in filter_list
										li=item
							.sort-by
								div(class="btn-group")
									|Sort By :
									button(class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")|Most Popular
									div(class="dropdown-menu")
										a(class="dropdown-item" href="#")|Arabic
										a(class="dropdown-item" href="#")|English
							.views
								ul.list-unstyled
									li.list
										i(class="fa fa-th-list")
									li.grid.active
										i(class="fa fa-th")
								.count-pages
									div(class="btn-group")
										button(class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
											|12 Per Pages
											span(class="icon")
										div(class="dropdown-menu")
											a(class="dropdown-item" href="#")|Arabic
											a(class="dropdown-item" href="#")|English
						.items.grid
							- var items = [{name:'The Project Name'},{name:'The Project Name'},{name:'The Project Name'},{name:'The Project Name'},{name:'The Project Name'},{name:'The Project Name'},{name:'The Project Name'},{name:'The Project Name'},{name:'The Project Name'},{name:'The Project Name'},{name:'The Project Name'},{name:'The Project Name'}]
							each item in items
								.box
									.image
										img(src="./images/aqar.jpeg")
									.description
										.name
											p=item.name
										.info
											span.location
												i(class="fa fa-map-marker") 
												|The Pearl Doha
											span.price
												span.price-label|Price:
												|QAR1200
											p.desc|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
										.box-footer
											ul.list-unstyled
												li
													i(class="fa fa-home")
													span|391 m
												li
													i(class="fa fa-bath")
													span|3
												li
													i(class="fa fa-bed")
													span|9
												li
													i(class="fa fa-home")
													span|1
							.pagination
								ul.list-unstyled
									- var paginate_list = [1,2,3,4,5,6,7,8,9,10]
									each item in paginate_list
										li
											span=item
				section.news
					h3.section-title
						i(class="fa fa-building")
						|Related News Or article for the area Al Rayan
					#carouselExampleIndicators.carousel.slide(data-ride='carousel')
						ol.carousel-indicators
							li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
							li(data-target='#carouselExampleIndicators' data-slide-to='1')
							li(data-target='#carouselExampleIndicators' data-slide-to='2')
							li(data-target='#carouselExampleIndicators' data-slide-to='3')
							li(data-target='#carouselExampleIndicators' data-slide-to='4')
						.carousel-inner
							.carousel-item.active
								.row
									.col-lg-3.col-sm-6.mb-4
										.box-info
											.image
												img(src='./images/aqar.jpeg')
											.info
												h6.box-title|Ancient House Resort Hoi an
												span.date|Dec 29th, 2021
												p.box-description|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
												a(href="#" class="read-more")|Read More
									.col-lg-3.col-sm-6.mb-4
										.box-info
											.image
												img(src='./images/aqar.jpeg')
											.info
												h6.box-title|Ancient House Resort Hoi an
												span.date|Dec 29th, 2021
												p.box-description|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
												a(href="#" class="read-more")|Read More
									.col-lg-3.col-sm-6.mb-4
										.box-info
											.image
												img(src='./images/aqar.jpeg')
											.info
												h6.box-title|Ancient House Resort Hoi an
												span.date|Dec 29th, 2021
												p.box-description|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
												a(href="#" class="read-more")|Read More
									.col-lg-3.col-sm-6.mb-4
										.box-info
											.image
												img(src='./images/aqar.jpeg')
											.info
												h6.box-title|Ancient House Resort Hoi an
												span.date|Dec 29th, 2021
												p.box-description|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
												a(href="#" class="read-more")|Read More

							- var slider_items = [{image:'slider-2'},{image:'slider-3'},{image:'slider-4'},{image:'slider-5'}]
							each item in slider_items
								.carousel-item
									.row
										.col-lg-3.col-sm-6.mb-4
											.box-info
												.image
													img(src='./images/aqar.jpeg')
												.info
													h6.box-title|Ancient House Resort Hoi an
													span.date|Dec 29th, 2021
													p.box-description|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
													a(href="#" class="read-more")|Read More
										.col-lg-3.col-sm-6.mb-4
											.box-info
												.image
													img(src='./images/aqar.jpeg')
												.info
													h6.box-title|Ancient House Resort Hoi an
													span.date|Dec 29th, 2021
													p.box-description|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
													a(href="#" class="read-more")|Read More
										.col-lg-3.col-sm-6.mb-4
											.box-info
												.image
													img(src='./images/aqar.jpeg')
												.info
													h6.box-title|Ancient House Resort Hoi an
													span.date|Dec 29th, 2021
													p.box-description|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
													a(href="#" class="read-more")|Read More
										.col-lg-3.col-sm-6.mb-4
											.box-info
												.image
													img(src='./images/aqar.jpeg')
												.info
													h6.box-title|Ancient House Resort Hoi an
													span.date|Dec 29th, 2021
													p.box-description|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
													a(href="#" class="read-more")|Read More
						a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
							span.carousel-control-prev-icon(aria-hidden='true')
							span.sr-only Previous
						a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
							span.carousel-control-next-icon(aria-hidden='true')
							span.sr-only Next
include pug/footer